* {
    box-sizing: border-box;
    margin: 0%;
}
header {
    height: 10vh;
    color:rgb(204, 214, 246);
    background-color: rgb(10, 25, 47);
    display: flex;
    justify-content:left;
    align-items: center;
    text-decoration: none;
}
header h3{
display: flex;
justify-content: left;
align-items: center;
margin-left: 30px;
}
header h3 hr{
    width: 600px;
    margin-left: 19px;
    color: rgb(204, 214, 246);
    border-radius: 50%;
}
header img{
    height: 4vw;
    width: 4vw;
    margin: 1vw 6px 5px 1vw;
} 
.project-grid{
    display: grid 1fr 1fr;
    height: 90vh;
    background-color: rgb(10, 25, 47);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


