* {
    box-sizing: border-box;
    margin: 0%;
}
.flex {
    display: flex;
}
header {
    height: 10vh;
    background-color: rgb(10, 25, 47);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    height: 4vw;
    width: 4vw;
    margin: 1vw 0 5px 1vw;
} 
header nav ol{
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-right: 3vw;
    content: "0" counter(item);
}
a:link {
    color: rgb(204, 214, 246);
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: rgb(204, 214, 246);
    text-decoration: none;
  }
  a:hover {
    color: rgb(204, 214, 246);
    text-decoration: none;
  }
  a:active {
    color: rgb(204, 214, 246);
    text-decoration: none;
  }
.button-head{
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    margin-right: -3vw;
    display: block;
    width: 150px;
    height: 60px;
    text-align: center;
    background-color: black;
    color: white;
    border: 1px solid white;
    margin: 0 auto;
}
header nav ol li{
margin-right: 4vw;
} 
header nav ol li a{
font-size: 1.2vw;
}
.splash {
    background-color: rgb(10, 25, 47);
    height: 90vh;
}
.information {
    height: 90vh;
    width: 70%;
    background-color: rgb(10, 25, 47);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.information h3, h1, p {
    width: 80%;
    margin-bottom:10px;    
}
.information h3{
    font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
font-size: 35px;
color: rgb(204, 214, 246);
}
.information h1{
    font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
font-size: 50px;
color: rgb(136, 146, 176);
}
.information p{
    font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
font-size: 20px;
color:rgb(134, 144, 174)
}
.imagen {
/* height: 8vh; */
width: 50%;
background-color:rgb(10, 25, 47);
display: flex;
justify-content: center;
align-items: flex-start;
margin: 0 auto;
}
.imagen img {
    margin-top:50px;
    height: 58vh;
    width: 25vw;
    border-radius: 30% 70% 70% 30% / 36% 43% 57% 64% 
   
}
.imagen-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imagen-content button {
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    height: 60px;
    width: 130px;
    text-align: center;
    background-color: black;
    font-size:12px;
    color: white;
    border: 1px solid white;
    margin-top: 30px;
    margin-bottom: 100px;
}





